.monopoly-container {
  position: relative;
  height: 100vh;
  margin-top: 5px;
}

#sumerge-logo {
  position: absolute;
  width: 40vw;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
}

.middle-cell {
  height: 7.6vh;
  background-color: #f8f9fa;
}

.middle-cell:first-child,
.middle-cell:last-child {
  border-left: 1.4px solid #000;
  border-right: 1.4px solid #000;
  border-bottom: 1.4px solid #000;
}

.top-cell {
  height: 15.4vh;
  border-top: 1.4px solid #000;
  border-left: 1.4px solid #000;
  border-bottom: 1.4px solid #000;
  background-color: #f8f9fa;
}

.bottom-cell {
  height: 15.4vh;
  border-left: 1.4px solid #000;
  border-bottom: 1.4px solid #000;
  background-color: #f8f9fa;
}

.bottom-cell:not(:first-child, :last-child) {
  border-top: 1.4px solid #000;
}

.top-cell:last-child,
.bottom-cell:last-child {
  border-right: 1.4px solid #000;
}

.property {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  text-align: center;
  background-color: white;
}

.middle-cell .property {
  flex-wrap: wrap;
}

.property-name {
  font-weight: bold;
  font-size: 0.7vw;
}

.property-price {
  font-size: 0.6vw;
  color: #555;
}

.property-icon {
  width: 3vw;
  margin-bottom: 2px;
}

.top-cell:first-child .property-icon,
.top-cell:last-child .property-icon,
.bottom-cell:first-child .property-icon,
.bottom-cell:last-child .property-icon {
  width: 5vw;
}

.purple {
  background-color: #5b2c6f;
}
.lightblue {
  background-color: #5dade2;
}
.pink {
  background-color: #f1948a;
}
.orange {
  background-color: #f5b041;
}
.red {
  background-color: #ec7063;
}
.yellow {
  background-color: #f7dc6f;
}
.green {
  background-color: #28b463;
}
.darkblue {
  background-color: #2471a3;
}

.purple .property-price,
.purple .property-name {
  color: white;
}

#car {
  width: 6vw;
  position: absolute;
  top: 0;
  animation-name: move-car;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes move-car {
  0% {
    top: 0;
    left: 5%;
    transform: rotate(0deg);
  }

  24.99% {
    top: 0;
    left: 87.9%;
    transform: rotate(0deg);
  }

  25% {
    top: 0;
    left: 88%;
    transform: rotate(90deg);
  }

  49.99% {
    top: 84.9%;
    left: 88%;
    transform: rotate(90deg);
  }

  50% {
    top: 85%;
    left: 88%;
    transform: rotate(0deg) scaleX(-1);
  }

  74.99% {
    top: 85%;
    left: 5%;
    transform: rotate(0deg) scaleX(-1);
  }

  75% {
    top: 85%;
    left: 5%;
    transform: rotate(270deg);
  }

  99.99% {
    top: 0.1%;
    left: 5%;
    transform: rotate(270deg);
  }

  100% {
    top: 0;
    left: 5%;
    transform: rotate(360deg);
  }
}

#signature{
    font-style: italic;
    position: absolute;
    bottom: 14%;
    right: 18%;
}
